<!DOCTYPE html>
<html lang="en">
<head>
<title>Reported | Pinkmantaray Connect</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="stylesheets/reported.css">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>
	<%- include("../partials/header") %>
	<div>

		<% if (success) { %>
			<img border="0" alt="Successfully reported." src="../../images/pink-check.png" width="60" height="60">		
			<h2>Successfully reported.</h2>
			<div>Thank you for reporting. Your safety is very important to us. If you have any further concerns, please reach out to Schuyler directly at schuyler@pinkmantaray.com.</div>

		<% } else { %>
			<h2>SOMETHING WENT WRONG</h2>
			<div>We apologize for the inconvenience. Please try again later.</div>
		<% } %>

		<form action="/" method="GET">
			<input type="submit" name="returnHome" value="Return to Home">
		</form>
	</div>

</body>