<!DOCTYPE html>
<html lang="en">
<head>
<title>Account Settings | Pinkmantaray Connect</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<script type="text/javascript" src='/socket.io/socket.io.js'></script>
<script type="text/javascript" src='/scripts/settingsScript.js'></script>


</head>

<body>
	<%- include("../partials/header") %>
	
	<div id="usernameDiv">
		<p id="username">Username: <%= data.username %></p>
		<button id="changeUsername">Change</button>
	</div>

	<div id="changeUsernameDiv" class='dialog'>
		<form id="usernameForm">
			<input type="password" name="verifyPass" placeholder="Current password" required>
			<input type="text" name="newUsername" placeholder="New username" required>
			<button class='cancelBtn'>Cancel</button>
			<button class='submitBtn' id='usernameSubmit' type="submit">Submit</button>
		</form>
	</div>

	<div id="passwordDiv">
		<p id="password">Change password</p>
		<button id="changePassword">Change</button>
	</div>

	<div id="changePasswordDiv" class='dialog'>
		<form id="passwordForm">
			<input type="password" name="verifyPass" placeholder="Current password" required>
			<input type="password" name="newPass" placeholder="New password" required>
			<input type="password" name="confirmPass" placeholder="Confirm new password" required>
			<button class='cancelBtn'>Cancel</button>
			<button class='submitBtn' id='passwordSubmit' type="submit">Submit</button>
		</form>
	</div>

	<div id="emailDiv">
		<p id="email">Email: <%= data.email %></p>
		<button id="changeEmail">Change</button>
	</div>

	<div id="changeEmailDiv" class='dialog'>
		<form id="emailForm">
			<input type="password" name="verifyPass" placeholder="Current password" required>
			<input type="text" name="newEmail" placeholder="New email" required>
			<button class='cancelBtn'>Cancel</button>
			<button class='submitBtn' id='emailSubmit' type="submit">Submit</button>
		</form>
	</div>


	<div id="instagramDiv">
		<p id="instagram">Instagram handle: <%= data.instagram %></p>
		<button id="changeInstagram">Change</button>
	</div>

	<div id="changeInstagramDiv" class='dialog'>
		<form id="instagramForm">
			<input type="password" name="verifyPass" placeholder="Current password" required>
			<input type="text" name="newInstagram" placeholder="New Instagram handle" required>
			<button class='cancelBtn'>Cancel</button>
			<button class='submitBtn' id='instagramSubmit' type="submit">Submit</button>
		</form>
	</div>


</body>