<!DOCTYPE html>
<html lang="en">
<head>
<title>Account Settings | Pinkmantaray Connect</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<script type="text/javascript" src='/socket.io/socket.io.js'></script>
<script type="text/javascript" src='/scripts/settingsScript.js'></script>


</head>

<body>
	<%- include("../partials/header") %>
	<div id='successMsg'></div>
	
	<div id="usernameDiv">
		<p>Username: <%= data.username %></p>
		<button class='changeBtn' id="changeUsername">Change</button>
	</div>

	<div id="changeUsernameDiv" class='dialog'>
		<form id="usernameForm">
			<input type="password" name="verifyPass" id='usernameVerifyPass' placeholder="Current password" required>
			<input type="text" class="changeVal" name="username" placeholder="New username" required>
			<button class='cancelBtn'>Cancel</button>
			<button class='submitBtn' id='usernameSubmit'>Submit</button>
		</form>
	</div>

	<div id="passwordDiv">
		<p>Change password</p>
		<button class='changeBtn' id="changePassword">Change</button>
	</div>

	<div id="changePasswordDiv" class='dialog'>
		<form id="passwordForm">
			<input type="password" name="verifyPass" id='passwordVerifyPass' placeholder="Current password" required>
			<input type="password" class="changeVal" name="password" placeholder="New password" required>
			<input type="password" name="confirmPass" placeholder="Confirm new password" required>
			<button class='cancelBtn'>Cancel</button>
			<button class='submitBtn' id='passwordSubmit'>Submit</button>
		</form>
	</div>

	<div id="emailDiv">
		<p>Email: <%= data.email %></p>
		<button class='changeBtn' id="changeEmail">Change</button>
	</div>

	<div id="changeEmailDiv" class='dialog'>
		<form id="emailForm">
			<input type="password" name="verifyPass" id='emailVerifyPass' placeholder="Current password" required>
			<input type="text" class="changeVal" name="email" placeholder="New email" required>
			<button class='cancelBtn'>Cancel</button>
			<button class='submitBtn' id='emailSubmit'>Submit</button>
		</form>
	</div>


	<div id="instagramDiv">
		<p>Instagram handle: <%= data.instagram %></p>
		<button class='changeBtn' id="changeInstagram">Change</button>
	</div>

	<div id="changeInstagramDiv" class='dialog'>
		<form id="instagramForm">
			<input type="password" name="verifyPass" id='instagramVerifyPass' placeholder="Current password" required>
			<input type="text" class="changeVal" name="instagram" placeholder="New Instagram handle" required>
			<button class='cancelBtn'>Cancel</button>
			<button class='submitBtn' id='instagramSubmit'>Submit</button>
		</form>
	</div>


</body>