<!DOCTYPE html>
<html lang="en">
<head>
<title>Congratulations! | Pinkmantaray Connect</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}
</style>

</head>

<body>

	<%- include("../partials/header") %>
	
	<h2>Thank you for verifying your account!</h2>
	<p>You now have full access to Pinkmantaray connect</p>

</body>