<link rel="stylesheet" href="stylesheets/header.css">

<nav>
	<div>
		<ul>
			<li class="img-li"><div href="/"><img id="logo" src="/images/white-pm-logo.png" alt="Logo" /></div></li>
			<li><a href="/" class="headerBtn">Home</a></li>
		</ul>
	</div>
	<div>
		<ul>
			<li><a href="/connect" class="headerBtn">Connect</a></li>
			<li><a href="/notifications" class="headerBtn">Notifications</a></li>
			<li><div class="dropdownBtn"> My Account <span class="arrow">⌵</span></div>
				<ul class="dropdown">
					<li><a href="/profile">Profile</a> <!-- TODO: add more to this --></li>
					<li><a href="/settings">Settings</a></li>
				</ul>
			</li>
			<li><div class="dropdownBtn">Help <span class="arrow">⌵</span></div>
				<ul class="dropdown">
					<li><a href="/contact">Contact Admin</a> <!-- TODO: add more to this --></li>
					<li><a href="/guidelines">Community Guidelines</a></li>
					<li><a href="">Report a User</a></li>
				</ul>
			</li>
			<li><a href="/logout">Logout</a></li>

		</ul>
	</div>
</nav>