<nav>
	<div>
		<a href="/">
			<div id="logo"><img src="some_image" alt="Home"/></div>
		</a>
	</div>
	<div>
		<a href="/" class="headerBtn">Home</a>

		<a href="/connect" class="headerBtn">Connect</a>

		<a href="/notifications" class="headerBtn">Notifications</a>

		<button class="dropdownBtn">My Account</button>
		<div class="dropdown_content">
			<a href="/profile">Profile</a> <!-- TODO: add more to this -->
			<a href="/settings">Settings</a>
			<a href="/logout">Logout</a>
		</div>

		<button class="dropdownBtn">Help</button>
		<div class="dropdown_content">
			<a href="/contact">Contact Admin</a> <!-- TODO: add more to this -->
			<a href="/guidelines">Community Guidelines</a>
			<a href="">Report a User</a>
		</div>
	</div>
</nav>