<!DOCTYPE html>
<html lang="en">
<head>
<title>Sign Up | Pinkmantaray Connect</title>
<meta charset="UTF_8">
<meta name="viewport" content="width=device_width, initial_scale=1">
<style>
body {
  font_family: Arial, Helvetica, sans_serif;
}
</style>
</head>
<body>

<div class="signup-form">
	<form action="new-user-auth" method="POST">

	<label for="entry_name">Name: </label>
	<input type="text" placeholder="Name" name="entry_name" required>

	<label for="entry_email">Email: </label>
	<input type="email" placeholder="Email" name="entry_email" required>

	<label for="entry_year">Birth Year: </label>
	<input type="number" placeholder="Birth Year" name="entry_year" required> <!__Maybe make this drop down__>

	<label for="entry_instagram">Instagram Handle: </label>
	<input type="text" placeholder="Instagram Handle" name="entry_instagram" maxlength="30" required>
	
	<label for="entry_country">Country: </label>
	<select name="entry_country">
		<option value="todo">TODO</option> <!__TODO: POPULATE WITH COUNTRY NAMES__>
	</select>

	<label for="entry_state">State: </label>
	<select name="entry_state">
		<option value="todo">TODO</option> <!__TODO: POPULATE WITH STATE ABBREVS__>
	</select>

	<label for="entry_gender_div">Gender (select all that apply): </label>
	<div id="entry_gender_div">
		<label>
			<input type="checkbox" name="entry_gender[]" value="transgender"> Transgender
		</label>
		<label>
			<input type="checkbox" name="entry_gender[]" value="cisgender"> Cisgender
		</label>
		<label>
			<input type="checkbox" name="entry_gender[]" value="male"> Male
		</label>
		<label>
			<input type="checkbox" name="entry_gender[]" value="female"> Female
		</label>
		<label>
			<input type="checkbox" name="entry_gender[]" value="gnc"> Gender non_comforming (GNC)
		</label>
		<label>
			<input type="checkbox" name="entry_gender[]" value="nonbinary"> Non_binary
		</label>
		<label>
			<input type="checkbox" name="entry_gender[]" value="fluid"> Gender fluid, gender queer
		</label>
		<label>
			<input type="checkbox" name="entry_gender[]" value="bigender"> Bigender, pangender
		</label>
		<label>
			<input type="checkbox" name="entry_gender[]" value="custom"> Other <input type="text" name="custom_gender">
		</label>
		<label>
			<input type="checkbox" name="entry_gender[]" value="noanswer"> Prefer not to say
		</label>
	</div>

	<label for="entry_sexuality_div">Sexuality (select all that apply): </label>
	<div id="entry_sexuality_div">
		<label>
			<input type="checkbox" name="entry_sexuality[]" value="straight"> Straight
		</label>
		<label>
			<input type="checkbox" name="entry_sexuality[]" value="queer"> Queer
		</label>
		<label>
			<input type="checkbox" name="entry_sexuality[]" value="gay"> Gay
		</label>
		<label>
			<input type="checkbox" name="entry_sexuality[]" value="bisexual"> Bisexual
		</label>
		<label>
			<input type="checkbox" name="entry_sexuality[]" value="pansexual"> Pansexual
		</label>
		<label>
			<input type="checkbox" name="entry_sexuality[]" value="asexual"> Asexual
		</label>
		<label>
			<input type="checkbox" name="entry_sexuality[]" value="custom"> Other: <input type="text" name='custom_sexuality'>
		</label>
		<label>
			<input type="checkbox" name="entry_sexuality[]" value="noanswer"> Prefer not to say
		</label>


	</div>

	<label for="entry_race_div">Race and ethnicity (select all that apply): </label>
	<div id="entry_race_div">
		<label>
			<input type="checkbox" name="entry_race[]" value="white"> White
		</label>
		<label>
			<input type="checkbox" name="entry_race[]" value="black"> Black
		</label>
		<label>
			<input type="checkbox" name="entry_race[]" value="asian"> Asian
		</label>
		<label>
			<input type="checkbox" name="entry_race[]" value="latinx"> Latinx
		</label>
		<label>
			<input type="checkbox" name="entry_race[]" value="custom"> Other: <input type="text" name='custom_race'>
		</label>
		<label>
			<input type="checkbox" name="entry_race[]" value="noanswer"> Prefer not to say
		</label>

	</div>

	<label for="entry_religion_div">Religion (select all that apply): </label>
	<div id="entry_religion_div">
		<label>
			<input type="checkbox" name="entry_religion[]" value="christian"> Christian
		</label>
		<label>
			<input type="checkbox" name="entry_religion[]" value="jewish"> Jewish
		</label>
		<label>
			<input type="checkbox" name="entry_religion[]" value="muslim"> Muslim
		</label>
		<label>
			<input type="checkbox" name="entry_religion[]" value="buddhist"> Buddhist
		</label>
		<label>
			<input type="checkbox" name="entry_religion[]" value="atheist"> Atheist
		</label>
		<label>
			<input type="checkbox" name="entry_religion[]" value="custom"> Other: <input type="text" name='custom_religion'>
		</label>
		<label>
			<input type="checkbox" name="entry_religion[]" value="noanswer"> Prefer not to say
		</label>
	</div>

	<label for="entry_interests">Interests: </label>
	<input type="text" name="entry_interests" placeholder="Type interests separated by a comma.">
	<datalist>
		<option value="watermelon">
		<option value="Canada">
		<option value="refrigerator">
		<option value="Valentine's Day">
	</datalist>

	<div>
	<input type="checkbox" name="read_terms_conditions" value="read" required>
	<p>I have read and agree to the <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
	</div>


	<input type="submit">Register</button>

	</form>
</div>

</body>
</html>