<!DOCTYPE html>
<html lang="en">
<head>
<title>Welcome | Pinkmantaray Connect</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}
</style>
</head>
<body>

<div>
	<h1>PINKMANTARAY CONNECT</h1>

	<div id="description">
		<h2>A way to connect with peoplasdjkakrhnakwejgk</h2>
	</div>

	<div id="login_div">
		<form action="/login">
			<input type="submit" name="login">
		</form>
	</div>

	<div class="signup">
		<form action="/signup">
			<input type="submit" name="signup">
		</form>
	</div>

</div>


</body>
</html>