<!DOCTYPE html>
<html lang="en">
<head>
<title>Welcome | Pinkmantaray Connect</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../stylesheets/welcome.css" rel="stylesheet" type="text/css">
<link
	href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;800;900&family=Open+Sans&family=Poppins:wght@400;700;900&family=Roboto:ital,wght@0,100;0,300;0,500;0,900;1,900&display=swap"
	rel="stylesheet">

<!-- <style>
body {
  font-family: Arial, Helvetica, sans-serif;
}
</style> -->
</head>
<body>

	<div id="welcome-header">
		<div href="/"><img id="logo" src="/images/white-pm-logo.png" alt="Logo" /></div>
		<div><span>PINKMANTARAY</span>CONNECT</div>
	</div>
	<div id="welcome-top">
		<div>
			Connect <br /> with your community.
		</div>
			<div class="globe__placeholder">
				<div class="globe__container">
					<div class="globe">
						<div class="globe__sphere"></div>
						<div class="globe__outer_shadow"></div>
						<div class="globe__reflections__bottom"></div>
						<div class="globe__worldmap">
							<div class="globe__worldmap__back backimg4"></div>
							<div class="globe__worldmap__front backimg4"></div>
						</div>
						<div class="globe__inner_shadow"></div>
						<div class="globe__reflections__top"></div>
					</div>
				</div>
			</div>
	</div>
	<div id="welcome-bottom">
		<div id="login-buttons">
			<form action="/login">
				<input type="submit" name="login" value="Login" class="signup log">
			</form>
		
			<form action="/signup">
				<input type="submit" name="signup" value="Sign Up" class="signup sign">
			</form>
		</div>
		<div id="welcome-description">
			A way to connect with people. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
			incididunt ut labore et dolore magna
			aliqua.
		</div>
	</div>

<!-- <div id="welcome">
	<div id="welcome-text">
		<div id="welcome-header">PINKMANTARAY <span>CONNECT.</span></div>
		<div id="welcome-description">
			A way to connect with people. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
			aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
			aute irure dolor in reprehenderit in voluptate.
		</div>
		
		<div id="login-buttons">
			<form action="/login">
				<input type="submit" name="login" value="Login" class="signup">
			</form>
		
			<form action="/signup">
				<input type="submit" name="signup" value="Sign Up" class="signup">
			</form>
		</div>
	</div>
</div> -->


</body>
</html>