<!DOCTYPE html>
<html lang="en">
<head>
<title>Sign Up | Pinkmantaray Connect</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}
</style>
</head>
<body>

<div class="signup">
	<form action="signup" method="POST">
		<h2>Sign Up</h2>
		<input type="text" placeholder="Username" name="uname" required>
		<input type="password" placeholder="Password" name="pwd" required>
		<input type="password" placeholder="Confirm Password" name="confirm" required>
		<!-- check validity in header script NOT application.js -->

		<button type="submit">Next</button>
	</form>
</div>

</body>
</html>