<!DOCTYPE html>
	<html lang="en">
	<head>
		<title>Log In | Pinkmantaray Connect</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="../stylesheets/login.css" rel="stylesheet" type="text/css">
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;800;900&family=Open+Sans&family=Poppins:wght@400;700;900&family=Roboto:ital,wght@0,100;0,300;0,500;0,900;1,900&display=swap"
			rel="stylesheet">
		<style>
		body {
		font-family: Arial, Helvetica, sans-serif;
		}
		</style>
	</head>
	<body>
		<div id="login-body">
			<div id="login-page">
				<div>
					PINKMANTARAY <span>CONNECT</span>
				</div>
				<div>
					<div>Welcome back!</div>
					<% if (auth == 'failed') { %>
					<div class='loginFail'>Invalid username or password!</div>
					
					<% } else if (auth == 'reported') { %>
					<div class='loginFail'>Your account has been put under review because it was reported by another user. If you have any
						questions, please contact us at <a href="mailto:admin@pinkmantaray.com">admin@pinkmantaray.com</a>,</div>
					
					<% } else if (auth == 'onhold') { %>
					<div class='loginFail'>
						<p>You’ve recently reported too many accounts. Because we want to protect against potential fraudulent behavior, we
							are placing your account on hold while we review. Please check back later. If you have questions, contact us at
							<a href="mailto:admin@pinkmantaray.com">admin@pinkmantaray.com</a>.</p>
					</div>
					<% } %>
					
					<form action="auth" method="POST" id="login-form">
						<input type="text" placeholder="Username" name="uname" required>
						<input type="password" placeholder="Password" name="pwd" required>
						<button type="submit">Login</button>
						<label>
							<input type="checkbox" checked="checked" name="remember" value="remember"> Remember me
						</label>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>