<!DOCTYPE html>
<html lang="en">
<head>
<title>Log In | Pinkmantaray Connect</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}
</style>
</head>
<body>

<h1>PINKMANTARAY CONNECT</h1>

<div class="login">
	<h2>Login</h2>

	<% if (auth == 'failed') { %>
		<div class='loginFail'>Invalid username or password!</div>

	<% } else if (auth == 'reported') { %>
		<div class='loginFail'>Your account has been put under review because it was reported by another user. If you have any questions, please contact us at <a href="mailto:admin@pinkmantaray.com">admin@pinkmantaray.com</a>,</div>

	<% } else if (auth == 'onhold') { %>
		<div class='loginFail'><p>Your account has been permanently removed due to violations of our <a href="/guidelines">community guidelines</a>. If you think this was a mistake or if you have questions, please contact us at <a href="mailto:admin@pinkmantaray.com">admin@pinkmantaray.com</a>.</p></div>
	<% } %>

	<form action="auth" method="POST">
	<input type="text" placeholder="Username" name="uname" required>
	<input type="password" placeholder="Password" name="pwd" required>
	<button type="submit">Login</button>
	<label>
		<input type="checkbox" checked="checked" name="remember" value="remember"> Remember me
	</label>
	</form>
</div>

</body>
</html>