<!DOCTYPE html>
<html lang="en">
<head>
<title>Log In | Pinkmantaray Connect</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}
</style>
</head>
<body>

<h1>PINKMANTARAY CONNECT</h1>

<div class="login">
	<h2>Login</h2>
	<form action="auth" method="POST">
	<input type="text" placeholder="Username" name="uname" required>
	<input type="password" placeholder="Password" name="pwd" required>
	<button type="submit">Login</button>
	<label>
		<input type="checkbox" checked="checked" name="remember"> Remember me
	</label>
	</form>
</div>

</body>
</html>