<!DOCTYPE html>
<html lang="en">
<head>
<title>Connect | Pinkmantaray Connect</title>
<meta charset="UTF_8">
<meta name="viewport" content="width=device_width, initial_scale=1">
<style>
body {
  font_family: Arial, Helvetica, sans_serif;
}
</style>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="../scripts/scripts.js"></script>

</head>
<body>
	
<div>
	<p>Use the following drop-down menus to refine your search:</p>
</div>

<div>
	<div id="div_location">
	<label for="option_location">Location:</label>
	<select name="option_location" id="select_location">

	</select>	
	</div>

	<div id="div_age">
	<label for="option_age1">Age range:</label> <!-- TODO: add values based on minimum and maximum ages (inclusive) -->
	<select name="option_age1"> <p> to </p> <select name="option_age2"></select>
	</div>

	<div id="div_gender">
	<label for="option_gender_div">Gender:</label>
	<div id="option_gender_div">
		<label>
			<input type="checkbox" name="option_gender[]" value="transgender"> Transgender
		</label>
		<label>
			<input type="checkbox" name="option_gender[]" value="cisgender"> Cisgender
		</label>
		<label>
			<input type="checkbox" name="option_gender[]" value="male"> Male
		</label>
		<label>
			<input type="checkbox" name="option_gender[]" value="female"> Female
		</label>
		<label>
			<input type="checkbox" name="option_gender[]" value="gnc"> Gender non_comforming (GNC)
		</label>
		<label>
			<input type="checkbox" name="option_gender[]" value="nonbinary"> Non_binary
		</label>
		<label>
			<input type="checkbox" name="option_gender[]" value="fluid"> Gender fluid, gender queer
		</label>
		<label>
			<input type="checkbox" name="option_gender[]" value="bigender"> Bigender, pangender
		</label>
		<label>
			<input type="checkbox" name="option_gender[]" value="custom"> Other <input type="text" name="custom_gender">
		</label>
	</div>
	
	</div>
		
	<div id="div_sexuality">	
	<label for="option_sexuality_div">Sexuality:</label>
	<div id="option_sexuality_div">
		<label>
			<input type="checkbox" name="option_sexuality[]" value="straight"> Straight
		</label>
		<label>
			<input type="checkbox" name="option_sexuality[]" value="queer"> Queer
		</label>
		<label>
			<input type="checkbox" name="option_sexuality[]" value="gay"> Gay
		</label>
		<label>
			<input type="checkbox" name="option_sexuality[]" value="bisexual"> Bisexual
		</label>
		<label>
			<input type="checkbox" name="option_sexuality[]" value="pansexual"> Pansexual
		</label>
		<label>
			<input type="checkbox" name="option_sexuality[]" value="asexual"> Asexual
		</label>
		<label>
			<input type="checkbox" name="option_sexuality[]" value="custom"> Other: <input type="text" name='custom_sexuality'>
		</label>
	</div>
	</div>

	<div id="div_race">
	<label for="option_race_div">Race & ethnicity:</label>
	<div id="option_race_div">
		<label>
			<input type="checkbox" name="option_race[]" value="white"> White
		</label>
		<label>
			<input type="checkbox" name="option_race[]" value="black"> Black
		</label>
		<label>
			<input type="checkbox" name="option_race[]" value="asian"> Asian
		</label>
		<label>
			<input type="checkbox" name="option_race[]" value="latinx"> Latinx
		</label>
		<label>
			<input type="checkbox" name="option_race[]" value="custom"> Other: <input type="text" name='custom_race'>
		</label>
	</div>
	</div>

	<div id="div_religion">
	<label for="option_religion_div">Religion:</label>
	<div id="option_religion_div">
		<label>
			<input type="checkbox" name="option_religion[]" value="christian"> Christian
		</label>
		<label>
			<input type="checkbox" name="option_religion[]" value="jewish"> Jewish
		</label>
		<label>
			<input type="checkbox" name="option_religion[]" value="muslim"> Muslim
		</label>
		<label>
			<input type="checkbox" name="option_religion[]" value="buddhist"> Buddhist
		</label>
		<label>
			<input type="checkbox" name="option_religion[]" value="atheist"> Atheist
		</label>
		<label>
			<input type="checkbox" name="option_religion[]" value="custom"> Other: <input type="text" name='custom_religion'>
		</label>
	</div>
	</div>

	<div id="div_interests">
	<ul id="interests_list"></ul> <!-- will fill this with entries using jQuery -->
	<input type="list" name="entry_interests" id="interests" placeholder="Add interests by typing and pressing enter.">
	<datalist id="interests_datalist">
		<option value="watermelon"/>
		<option value="Canada"/>
		<option value="refrigerator"/>
		<option value="Valentine's Day"/>
	</datalist>
	</div>

</div>





</body>