<!DOCTYPE html>
<html lang="en">
<head>
<title>Contact | Pinkmantaray Connect</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../stylesheets/contact.css" rel="stylesheet" type="text/css">
<link
	href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;800;900&family=Open+Sans&family=Poppins:wght@400;700;900&family=Roboto:ital,wght@0,100;0,300;0,500;0,900;1,900&display=swap"
	rel="stylesheet">
</head>

<body>

	<%- include("../partials/header") %>

	<h2>Contact Us</h2>
	
	<div class="text">
		<div>
			<div>If you are looking for trans resources, please visit Schuyler’s <a href="https://pinkmantaray.com/faqs">FAQ page
					here</a>.</div>
			<br />
			<div>If you’d like to report a specific individual for violation of <a href="/guidelines">community guidelines</a>,
				visit the <a href="/report">REPORT</a> page.</div>
		</div>
		<div>
			<div>If you’d like to connect with an admin for another reason, please email us <a
					href="mailto:admin@pinkmantaray.com">here</a>. Get in touch with Schuyler <a
					href="https://pinkmantaray.com/contact-me">here</a>.</div>
			<br />
			<div class="other">For any other feedback, please email us at <a
					href="mailto:feedback@pinkmantaray.com">feedback@pinkmantaray.com</a>.</div>
		</div>
		
	</div>

</body>