<!DOCTYPE html>
<html lang="en">
<head>
<title>Community Guidelines | Pinkmantaray Connect</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../stylesheets/guidelines.css" rel="stylesheet" type="text/css">
<link
	href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;800;900&family=Open+Sans&family=Poppins:wght@400;700;900&family=Roboto:ital,wght@0,100;0,300;0,500;0,900;1,900&display=swap"
	rel="stylesheet">

</head>

<body>

	<%- include("../partials/header") %>

	<h2>Community Guidelines</h2>

	<p>While Pinkmantaray Connect does not provide communications methods within its service, any communications that arise from its use are expected to abide by these community guidelines.</p>	

	<ol>
		<li><span>01.</span>No bullying, bigotry, or any other kind of targeted behavior.</li>
		<li><span>02.</span>No soliciting or asking for sexual connections or dating activity.</li>
		<li><span>03.</span>No personifying other people, real or imagined. No creating fake or fraudulent accounts.</li>
		<li><span>04.</span>No depiction of self-harm or suicide.</li>
		<li><span>05.</span>No soliciting of products or exchange of any sales.</li>
		<li><span>06.</span>No nudity.</li>
	</ol>


</body>