<!DOCTYPE html>
<html lang="en">
<head>
<title>Community Guidelines | Pinkmantaray Connect</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}
</style>

</head>

<body>

	<%- include("../partials/header") %>

	<h2>COMMUNITY GUIDELINES</h2>

	<p>While Pinkmantaray Connect does not provide communications methods within its service, any communications that arise from its use are expected to abide by these community guidelines.</p>	

	<ol>
		<li>No bullying, bigotry, or any other kind of targeted behavior.</li>
		<li>No soliciting or asking for sexual connections or dating activity.</li>
		<li>No personifying other people, real or imagined. No creating fake or fraudulent accounts.</li>
		<li>No depiction of self-harm or suicide.</li>
		<li>No nudity.</li>
		<li>No soliciting of products or exchange of any sales.</li>
	</ol>


</body>