#connect-header {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 12vh;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    color: rgb(44, 42, 42);
    text-align: left;

    padding: 0 0 2vh 18vh;
}

#connect-header span {
    text-transform: uppercase;
    color: rgb(244, 156, 224);
}

#connect-header > img {
    width: 96vh;
}