body {
    background-color: rgb(1, 1, 19);
    color: white;
}

#connect-body {
    display: flex;
    flex-direction: column;
    padding-left: 8vh;
}

h2 {
    color: rgb(244, 156, 224);
    font-family: 'Poppins', sans-serif;
    font-size: 8vh;

    width: 29vh;
    margin: 0;
    float: left;
}

.connect-subtitle {
    font-family: 'Poppins', sans-serif;
    font-size: 4vh;
    font-weight: 700;
    float: left;
    text-align: left;
    padding-bottom: 5vh;
}

#connectForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    height: 55vh;
}

.connect-row{
    display: flex;
    align-items: center;
    width: 100%;
}

.connect-row > label {
    width: 9%;
    text-align: left;
    color: rgb(244, 156, 224);
    font-weight: bolder;
}

.results {
    display: flex;
}

.results > input {
    padding: 1vh 2vh;
}

.results > ul > li {
    padding: 1vh 2vh;
    margin: 0 2vh;
    border-color: royalblue;
    background-color: royalblue;
    border-radius: 1vh;
    text-align: center;
}

.results > ul > li:hover {
    color: white;
}

#div_age > select {
    margin-right: 1vh;
}

#div_age > select:nth-child(3) {
    margin-left: 1vh;
}

.close:hover {
    cursor: pointer;
    color: red;
}


/* 
#search-row {
    display: flex;
}

#language_list li {
    padding-top: 0;
    padding-bottom: 0;
    cursor: default;
}


.search-row > label {
    font-weight: bold;
    padding-right: 2vh;
    color: rgb(139, 218, 247);
}

#option_gender_div {
    width: 123vh;
    text-align: left;
}

#div_age > div {
    font-size: 2vh;
    padding: 0 1.5vh;
}

#interests_list li {
    padding-top: 0;
    padding-bottom: 0;
}

#interests {
    width: 37vh;
} */

#submitButton {
    height: 7vh;
    width: 18vh;

    color: white;
    background: rgb(139, 218, 247);

    font-size: 2vh;
    font-weight: 800;
    text-transform: uppercase;

    outline: none;
    border: none;
	text-align: center;
    cursor: pointer;
    border-radius: 43px;
    margin-left: 79vh;
}

/* connect button active */
#submitButton:active {
    background-color: rgb(147, 220, 247);
	box-shadow: 
		inset rgba(70,70,70,0.4) 2px 2px 4px,
		inset rgb(208, 210, 211) -2px -2px 4px;
}

#resultsDisplay {
    width: 100%;
    /* height: 48vh; */
    text-transform: capitalize;
}

.displayPadding {
    padding-bottom: 3vh;
    padding-top: 6vh; 
}

#resultsDisplay > tr {
    height: 8vh;
}

#resultsDisplay th {
    color: rgb(244, 156, 224);
}


#closeBtn, #confirmBtn {
    padding: 0;
    outline: none;
    cursor: pointer;
    width: 8vh;
    text-align: center;
    background: none;
    border: none;
    font-size: 4vh;
}

#confirmBtn {
    color: rgb(130, 247, 130);
}

#closeBtn {
    color: rgb(245, 7, 7);
}

#confirmBtn:hover {
    color: rgb(8, 238, 8);
    /* font-size: 4.5vh */

}

#closeBtn:hover {
    color: rgb(211, 5, 5);
    /* font-size: 4.5vh */
}

#confirmationDialog {
    padding-bottom: 3vh;
    border-radius: 1vh;
    /* background: #fefefe; */
    box-shadow:  7px 7px 14px #b9bcbe, 
    -7px -7px 14px #f2f4f5;

    background: linear-gradient(270deg, #63d3fa, #ec48f8, #f8a7fe, #a7c5fe, #75c5f0);
    background-size: 1000% 1000%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

#confirmationDialog p {
    /* position: absolute;
    background-color: white;
    border-style: outset; */
    
    font-size: 2vh;
    font-family: 'Open Sans', sans-serif;
    padding: 0 1vh;
    width: 37vh;
    color: black;
}

#confirmationDialog span a {
    color: rgb(240, 128, 214);
    font-weight: bolder;
    font-family: "Century Gothic", sans-serif
}

#confirmationDialog span a:hover {
    color: rgb(221, 42, 239);
}

#confirmationDialog span:first-child {
    color: rgb(246, 243, 247);
    /* font-weight: bolder; */
    font-size: 4vh;
    padding: 1vh;
    font-weight: bolder;
}

.ui-dialog-titlebar {
    display: none;
}

.dropdown-check-list {
    display: inline-block;
}
.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
  border: 1px solid #ccc;
}
.dropdown-check-list .anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.dropdown-check-list .anchor:active:after {
    right: 8px;
    top: 21%;
}
.dropdown-check-list ul.items {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
  overflow-y:auto;
  height: 30vh;
}
.dropdown-check-list ul.items li {
    display: list-item;
    float: inherit;
    padding: 1vh;
  list-style: none;

}
.dropdown-check-list.visible .anchor {
  color: rgb(147, 220, 247);
}
.dropdown-check-list.visible .items {
    display: block;
    width: 39vh;
    position: absolute;
    background-color: #202033;
    padding-top: 2vh;
}

#select_location {
    width: 28vh;
    height: 5vh;
}

#select_state {
    width: 28vh;
    height: 5vh;
}

.connectBtn{
    white-space: nowrap;
    top: 0px;
    border-radius: 2vh;
    position: relative;
    border: none;
    background: none;
    font-family: 'Roboto', sans-serif;
    height: 6vh;
    width: 13vh;
    cursor: pointer;
    transition: 0.1s all ease;
    font-size: 2vh;
    color: rgb(14, 16, 16);
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 0px 0px 0px #B8B8B8;
    background:#f0f0f0;
}
  
.connectBtn:hover{ 
color:#f5f5f5;
top:-2px;
height:52px;
border-bottom: 4px solid #ccc;
box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.15);
}

.connectBtn:hover.static{
    top:0px;
    height:50px;
}
  
.connectBtn:active{
    top:0px;
    height:50px;
    border: 1px solid #ccc;
    background-color:#ededed;
    box-shadow: inset 0px 0px 4px rgba(0,0,0,0.15);
}

.connectBtn {
    background: linear-gradient(270deg, #63d3fa, #ec48f8, #f8a7fe, #a7c5fe, #e5e9f0);
    background-size: 1000% 1000%;

    -webkit-animation: AnimationName 7s ease infinite;
    -moz-animation: AnimationName 7s ease infinite;
    animation: AnimationName 7s ease infinite;
}

.connectBtn:focus {
    border: none;
    outline: none;
}

/* .ui-widget-content {
    position: absolute;
    width: 40vh;
    height: 37vh;
} */



@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
