body {
    background-color: rgb(1, 1, 19);
    color: white;
    font-size: 1vh;
}

#editBody {
    display: flex;
    flex-direction: column;
    padding-left: 8vh;
}

h2 {
    color: rgb(244, 156, 224);
    font-family: 'Poppins', sans-serif;
    font-size: 8vh;

    margin: 0;
    text-align: left;
    padding-left: 8vh;
}

#editForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    height: 65vh;
    padding-top: 3vh;
    padding-left: 8vh;
}

#editForm > div {
    display: flex;
    width: 135vh;
    text-align: left;
}

#editForm > div > label {
    font-weight: bold;
    padding: 0 1vh 0 2vh;
}

#editForm > div > label:first-child {
    padding-left: 0;
}

#interests {
    height: 3vh;
    width: 36vh;
    padding-left: 1vh;
}

#interests_list li, #language_list li {
    padding: 0 2vh 0 2vh;
}

.close {
    cursor: pointer;
    color: red;
}

form div ul > li {
    padding: 1vh 2vh;
    margin: 0 2vh;
    border-color: royalblue;
    background-color: royalblue;
    border-radius: 1vh;
    text-align: center;
}

form div ul > li:hover {
    color: white;
}

#submitButton, #confirmBtn {
    height: 7vh;
    width: 18vh;

    color: white;
    background: rgb(139, 218, 247);

    font-size: 2vh;
    font-weight: 800;
    text-transform: uppercase;

    outline: none;
    border: none;
	text-align: center;
    cursor: pointer;
    border-radius: 43px;
    /* margin-left: 79vh; */
}

#cancelButton, #closeBtn {
    color: rgba(255, 255, 255, 0.81);
    text-decoration: underline;
    background: none;
    border: none;
    outline: none;
    /* margin-bottom: 4vh; */
    margin-left: 2vh;
}

#closeBtn {
    margin: 4vh 0 4vh 0;
}

#closeBtn:hover, #cancelButton:hover {
    cursor: pointer;
    /* color: rgb(173, 227, 247); */
}

/* connect button active */
#submitButton:active {
    background-color: rgb(147, 220, 247);
	box-shadow: 
		inset rgba(70,70,70,0.4) 2px 2px 4px,
		inset rgb(208, 210, 211) -2px -2px 4px;
}

#cancelButton:active, #closeBtn:active {
    color: rgb(76, 161, 193);
}

#buttonParent {
    display: flex;
    width: 40vh !important;
    justify-content: space-between;
}

/* ui-widget-content */
.ui-dialog-content {
    color: black;
}

/* #confirmationDialog {
    position: absolute;
    z-index: 9999;
    background-color: rgb(244, 156, 224);
    padding: 4vh;
    border-radius: 3vh 0 3vh 3vh;
    height: 30vh !important;
    display: flex;
    flex-direction: column;
    align-items: center;
} */


#confirmationDialog {
    border-radius: 1.5vh;
    padding: 4vh;
    /* background: #fefefe; */
    box-shadow:  7px 7px 14px #b9bcbe, 
    -7px -7px 14px #f2f4f5;

    background: linear-gradient(270deg, #63d3fa, #ec48f8, #f8a7fe, #a7c5fe, #75c5f0);
    background-size: 1000% 1000%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

#confirmationDialog p:first-child {
    font-weight: bolder;
}

.ui-front:focus {
    border: none;
    outline: none;
    /* color: red; */
}

.ui-dialog-titlebar-close {
    /* color: black;
    margin-top: -3vh;
    background-color: rgb(244, 156, 224);
    border:none;
    border-radius: 2vh 2vh 0 0vh;
    padding: 1vh;
    margin-left: 40.2vh; */
    display: none;
}
/* 
.ui-dialog-titlebar-close:hover {
    color: white;
} */

.connect-row{
    display: flex;
    align-items: center;
    width: 100%;
}

label {
    width: 9%;
    text-align: left;
    color: rgb(244, 156, 224);
    font-weight: bolder;
}

.results {
    display: flex;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
