body {
    background-color: rgb(1, 1, 19);
    color: white;
    font-family: 'Century Gothic', sans-serif;
}

h2 {
    color: rgb(244, 156, 224);
    font-family: 'Poppins', sans-serif;
    font-size: 8vh;

    margin: 0;
    text-align: left;
    padding-left: 8vh;
}

#divDesc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 46%;
    padding: 0 8vh 0 8vh;
    text-align: left;
    height: 56vh;
    font-size: 3vh;
}

/* login button  */
.reportBtn {
    height: 7vh;
    width: 18vh;

    color: white;
    background: rgb(244, 0, 0);

    font-size: 2vh;
    font-weight: 800;
    text-transform: uppercase;

    outline: none;
    border: none;
	text-align: center;
    cursor: pointer;
    border-radius: 0.5vh;
}

/* login button active */
.reportBtn:active {
    background-color: rgb(252, 99, 99);
	box-shadow: 
		inset rgba(70,70,70,0.4) 2px 2px 4px,
		inset rgb(208, 210, 211) -2px -2px 4px;
}

td {
    text-transform: capitalize;
}

#report-page {
    display: flex;
    padding-top: 3vh;
}

table {
    width: 74vh;
    border-collapse: separate;
  border-spacing: 0 2vh;
}