body {
    display: flex;
    flex-direction: column;
    padding-bottom: 4vh;
}

h2 {
    color: rgb(139, 218, 247);
    color: rgb(244, 156, 224);
    font-family: 'Poppins', sans-serif;
    font-size: 8vh;
    margin: 0;
    padding: 0 0 0 8vh;
    text-align: left;
}

#my-connections {
    padding: 0 0 0 8vh;

}

table {
    min-width: 181vh;
    border-collapse: collapse;
    border-radius: 4vh;
    border-collapse:separate; 
    border-spacing: 0px 4vh;
}

tbody {
    font-size: 2vh;
    font-weight: bold;
    border: none;
    
}

tbody tr:nth-child(even) {
    background-color: rgb(240, 248, 249);
}

tr {
    height: 10vh;
    border: none;
}

tr > td:nth-child(3), tr > td:nth-child(4), tr > td:nth-child(5) {
    width: 10vh;
    /* border-radius: 1vh; */
}

tr > td:nth-child(5) {
    background-color: #fbea2b8e;
    
}

tr > td:nth-child(4) {
    background-color: rgba(139, 218, 247, 0.651);
}

tr > td:nth-child(3) {
    background-color: rgba(223, 42, 239, 0.692);
}