html {
  scroll-behavior: smooth;
}

body {
    background-color: rgb(1, 1, 19);
    color: white;
}
body > div {
   display: flex; 

}

/* each section (notif / pending) */
.postcard {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-transform: capitalize;
    align-items: center;
}

.notif-header {
    color: rgb(244, 156, 224);
    font-family: 'Poppins', sans-serif;
    font-size: 8vh;
    font-weight: bolder;
    margin: 0;
    /* padding: 0 0 0 8vh; */
    float: left;
}

.buttonParent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: 3vh;
    /* width: 4vh; */
    
}

.acceptBtn, .ignoreBtn, .cancelBtn {
    /* padding: 0; */
    outline: none;
    cursor: pointer;
    width: 4vh;
    text-align: center;
    background-color: inherit;
    border: none;
    height: 50%;
    font-size: 3.5vh;
}

.acceptBtn {
    color: rgb(141, 241, 141);
}

.ignoreBtn, .cancelBtn {
    color: rgb(236, 165, 165);
}

.acceptBtn:hover {
    color: rgb(0, 250, 0);
}

.ignoreBtn:hover, .cancelBtn:hover {
    color: red;
}

/* invitations list  */
#pendingTable, #invitationsTable {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 3vh;

    font-size: 2vh;
    
    width: 91vh;
    height: 60vh;


    border-radius: 1vh;
    background: #0d112e;
    box-shadow:  7px 7px 14px #000000, 
                -7px -7px 14px #455259;

    overflow-y:auto;
}

#invitationsTable td {
    width: 10vh;
}
tbody {
    /* border-collapse: separate; */
    border-spacing:0 15px;
    /* padding: 2vh; */
    min-width: 80vh;
    font-size: 1.7vh;
    text-shadow: 0.3px 0.5px rgba(88, 87, 87, 0.521);
    border-collapse: collapse;
}

tbody tr:nth-child(even) {
    background-color: rgb(49, 50, 85);
}


tr {
    height: 10vh;
    width: 100%;
}


