#profileInfo{
    width: 50%;
    height: 50vh;
    text-transform: capitalize;
}

#profileInfoDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 118vh; */

}

#profileInfoDiv > div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4vh;
}

#profileInfoDiv > div > div:first-child {
    /* background-color: violet; */
    width: 28vh;
    height: 28vh;
    border-radius: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;


    font-family: 'Roboto', sans-serif;
    font-size: 13vh;
    font-weight: 600;
    color: rgb(242, 123, 214);

    text-shadow: 
    -8px -8px 12px rgba(245, 184, 218, 0.418),
    8px 8px 12px rgba(0, 0, 0, 0.212);
    caret-color:#262626;
    outline: none;


    border-radius: 16vh;
    background: rgb(244, 156, 224);

}

#profileInfoDiv tr:last-child {
    display: flex;
    justify-content: center;
    font-weight: bolder;
}

#profileInfoDiv tr:last-child td:first-child {
    padding-right: 3vh;
}

#reportDiv button {
    /* height: 7vh;
    width: 18vh; */

    /* color: white; */
    /* background: rgb(139, 218, 247); */

    position: absolute;
    top: 24vh;
    left: 104vh;
    background: none;
    color: white;

    outline: none;
    border: none;
	text-align: center;
    cursor: pointer;
}

#reportDiv button:active {
    color: rgb(228, 220, 220);
}

tbody tr:first-child {
    font-weight: bolder;
}