#profile-body {
    display: flex;
    flex-direction: column;
    margin-bottom: 0vh;
    background-color: rgb(1, 1, 19);
    color: white;
}

.pink, .blue {
    color: rgb(244, 156, 224);
    font-family: 'Poppins', sans-serif;
    font-size: 8vh;

    margin: 0;
    text-align: left;
    text-transform: capitalize;
}

.blue {
    color: rgb(139, 218, 247);

}

#profileInfoDiv {
    padding-left: 8vh;
}

#profileInfo {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 28%;

    margin-top: 3vh;

    font-size: 2vh;
    
    width: 91vh;
    height: 64vh;

    border-radius: 1vh;
    background: #0d112e;
    box-shadow:  7px 7px 14px #000000, 
                -7px -7px 14px #455259;

    overflow-y:auto; */

    display: flex;
    flex-direction: column;
    font-size: 2vh;
    background-color: violet;


    width: 63vh;
    padding: 7vh;
    height: 54vh;
    margin: auto;

    border-radius: 0.5vh;

}

.name, td > span {
    color: royalblue;
    padding-right: 2vh;
}



#profileInfo > tbody{
    display: flex;
    /* flex-direction: column;
    align-items: center; */
    /* width: 62vh; */
    font-weight: bolder;
    text-transform: capitalize;

    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}


tr {
    /* margin: 2vh; */
    /* width: 100%; */
    text-align: center;
    text-align: -webkit-center;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* edit button  */
#myProfileOptions button, #unhideProfile, #hideProfile {
    height: 7vh;
    width: 18vh;

    color: white;
    background: rgb(139, 218, 247);

    font-size: 2vh;
    font-weight: 800;
    text-transform: uppercase;

    outline: none;
    border: none;
	text-align: center;
    cursor: pointer;
    border-radius: 43px;
}

/* edit button active */
#myProfileOptions button:active, #unhideProfile:active, #hideProfile:active {
    background-color: rgb(178, 229, 248);
	box-shadow: 
		inset rgba(70,70,70,0.4) 2px 2px 4px,
		inset rgb(208, 210, 211) -2px -2px 4px;
}

#hideProfile:active {
    background-color: rgb(39, 138, 173);
}

#unhideProfile, #hideProfile {
    font-size: 1.7vh;
    background-color: rgb(8, 75, 99);
    z-index: 11;

    position: absolute;
    top: 24.5vh;
    left: 95vh;
}

#unhideProfile {
    background-color: rgb(42, 171, 218);
}

#profileForm{
    /* position: absolute; */
    z-index: 10;
    /* left:117vh; */
    /* top:83vh; */
}

#editProfile {
    height: 7vh;
    width: 18vh;

    color: white;
    background: rgb(139, 218, 247);

    font-size: 2vh;
    font-weight: 800;
    text-transform: uppercase;

    outline: none;
    border: none;
	text-align: center;
    cursor: pointer;
    border-radius: 43px;


    position: absolute;
    left: 115vh;
    bottom: 11vh;

}

/* login button active */
#editProfile:active {
    background-color: rgb(147, 220, 247);
	box-shadow: 
		inset rgba(70,70,70,0.4) 2px 2px 4px,
		inset rgb(208, 210, 211) -2px -2px 4px;
}

#myProfileOptions button:hover, #unhideProfile:hover, #hideProfile:hover {
    color: rgb(244, 156, 224);
    transition-duration: 10ms;
}

#reportBtn {
    height: 7vh;
    width: 18vh;

    color: white;
    background: rgb(244, 0, 0);

    font-size: 2vh;
    font-weight: 800;
    text-transform: uppercase;

    outline: none;
    border: none;
	text-align: center;
    cursor: pointer;
    border-radius: 0.5vh;
    margin-top: 2vh;
}

#reportBtn:active {
    background-color: rgb(247, 68, 68);
	box-shadow: 
		inset rgba(70,70,70,0.4) 2px 2px 4px,
		inset rgb(208, 210, 211) -2px -2px 4px;
}

.name {
    color: rgb(139, 218, 247);
}

.dialog {
    width: 51.5vh !important;
    height: 19vh !important;
    border-radius: 1vh;
    padding: 7vh 2vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: #0d112e !important;
    box-shadow:  7px 7px 14px #000000, 
                0px -1px 14px #e3f0f9
}

.dialog div {
    display: flex;
    flex-direction: column;
    color: rgb(139, 218, 247);
}

.dialog div span {
    font-weight: bolder;
    color: white;
    padding-bottom: 3vh;
    font-size: 2.3vh;
}

.ui-dialog-titlebar-close {
    display: none;
}

#hideConfirmBtn, #unhideConfirmBtn  {
    border: 2px solid rgba(255, 255, 255, 0.74);
    color: rgba(255, 255, 255, 0.74);
    background: none;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 1vh 2vh;
}

#hideConfirmBtn:focus, #unhideConfirmBtn:focus {
    outline: none;
}

#hideConfirmBtn:hover, #unhideConfirmBtn:hover {
    color: white;
    border: 2px solid white;
    cursor: pointer;
}

#reportDiv > button {
    height: 7vh;
    width: 18vh;

    color: white;
    background: rgb(244, 0, 0);

    font-size: 2vh;
    font-weight: 800;
    text-transform: uppercase;

    outline: none;
    border: none;
	text-align: center;
    cursor: pointer;
    border-radius: 0.5vh;
    /* margin-top: 2vh; */
}

#reportDiv > button:active {
    background-color: rgb(247, 68, 68);
	box-shadow: 
		inset rgba(70,70,70,0.4) 2px 2px 4px,
		inset rgb(208, 210, 211) -2px -2px 4px;
}



.button
{
    position: relative;
    width: 12vh;
    height: 5vh;
}

.button.r, .button.r .layer
{
    border-radius: 100px;
}

.button.b2
{
    border-radius: 2px;
}

.checkbox
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs
{
    z-index: 2;
}

.layer
{
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
}

#button-13 .knobs:before, #button-13 .knobs:after, #button-13 .knobs span
{
    position: absolute;
    top: 4px;
    width: 20px;
    height: 10px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    border-radius: 2px;
    transition: 0.3s ease all;
    
}

#button-13 .knobs:before, #button-13 .knobs:after
{
    color: #4e4e4e;
    z-index: 1;
}

#button-13 .knobs:before
{
        content: 'VISIBLE';
    left: 0vh;
}

#button-13 .knobs:after
{
    content: 'HIDDEN';
    right: 4px;
}

#button-13 .knobs span
{
    width: 5vh;
    left: 7vh;
    background-color: #37f403;
    z-index: 2;
}

#button-13 .checkbox:checked + .knobs span
{
    left: 4px;
    background-color: #F44336;
}

#button-13 .checkbox:checked ~ .layer
{
    background-color: #fcebeb;
}
