#profile-body {
    display: flex;
    flex-direction: column;
    padding-bottom: 4vh;
    background-color: rgb(1, 1, 19);
    color: white;
}

h2 {
    color: rgb(244, 156, 224);
    font-family: 'Poppins', sans-serif;
    font-size: 8vh;

    margin: 0;
    text-align: left;
}

#profileInfoDiv {
    padding-left: 8vh;
}

#profileInfo {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 28%;

    margin-top: 3vh;

    font-size: 2vh;
    
    width: 91vh;
    height: 64vh;

    border-radius: 1vh;
    background: #0d112e;
    box-shadow:  7px 7px 14px #000000, 
                -7px -7px 14px #455259;

    overflow-y:auto; */

    display: flex;
    flex-direction: column;
    font-size: 2vh;
}

.name, td > span {
    color: royalblue;
    padding-right: 2vh;
}



#profileInfo > tbody{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 62vh;
    font-weight: bolder;
    text-transform: capitalize;
}

tr {
    margin: 2vh;
    width: 100%;
    text-align: center;
    text-align: -webkit-center;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* edit button  */
#myProfileOptions button, #unhideProfile, #hideProfile {
    height: 7vh;
    width: 18vh;

    color: white;
    background: rgb(139, 218, 247);

    font-size: 2vh;
    font-weight: 800;
    text-transform: uppercase;

    outline: none;
    border: none;
	text-align: center;
    cursor: pointer;
    border-radius: 43px;
}

/* edit button active */
#myProfileOptions button:active, #unhideProfile:active, #hideProfile:active {
    background-color: rgb(178, 229, 248);
	box-shadow: 
		inset rgba(70,70,70,0.4) 2px 2px 4px,
		inset rgb(208, 210, 211) -2px -2px 4px;
}

#hideProfile:active {
    background-color: rgb(39, 138, 173);
}

#unhideProfile, #hideProfile {
    font-size: 1.7vh;
    background-color: rgb(8, 75, 99);
    position: absolute;
    z-index: 11;
    left: 117vh;
    top: 74vh;
}

#unhideProfile {
    background-color: rgb(42, 171, 218);
}

#profileForm{
    position: absolute;
    z-index: 10;
    left:117vh;
    top:83vh;
}

#myProfileOptions button:hover, #unhideProfile:hover, #hideProfile:hover {
    color: rgb(244, 156, 224);
    transition-duration: 10ms;
}

#reportBtn {
    height: 7vh;
    width: 18vh;

    color: white;
    background: rgb(244, 0, 0);

    font-size: 2vh;
    font-weight: 800;
    text-transform: uppercase;

    outline: none;
    border: none;
	text-align: center;
    cursor: pointer;
    border-radius: 0.5vh;
    margin-top: 2vh;
}

#reportBtn:active {
    background-color: rgb(247, 68, 68);
	box-shadow: 
		inset rgba(70,70,70,0.4) 2px 2px 4px,
		inset rgb(208, 210, 211) -2px -2px 4px;
}

.name {
    color: rgb(139, 218, 247);
}


/*

#profileBody {
    background-color: rgb(4, 4, 46);
}

#connectBody {
    display: flex;
    flex-direction: column;
    padding-left: 8vh;
    color: white;
}

#profilePage {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    width: 85vh;
    height: 59vh;
    position: fixed;
    top: 31%;
    left: 28%;

    border-radius: 1vh;
    background: #0d112e;
    box-shadow:  7px 7px 14px #000000, 
                -7px -7px 14px #455259;
}

#profileInfo {
    height: 100%;
    text-transform: capitalize;
}

#profileLeft {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

#profileLeft div:nth-child(2) {
    display: flex;
    justify-content: inherit;
}

.fab, .far {
    color: rgb(244, 244, 247);
}

.fab:hover, .far:hover {
    color: rgb(68, 71, 173);
    color: rgb(244, 156, 224);
    transition-duration: 100ms;
}

#profileRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    width: 26vh;
    font-size: 2vh;
    padding: 0 !important;

    height: 93%;
}

#profileRight > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2vh;
}

#profileLeft > div:first-child {
    width: 22vh;
    height: 22vh;
    border-radius: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;


    font-family: 'Roboto', sans-serif;
    font-size: 5vh;
    font-weight: 600;
    text-transform: capitalize;
    color: rgb(242, 123, 214);

    text-shadow: 
    -8px -8px 12px rgba(245, 184, 218, 0.418),
    8px 8px 12px rgba(0, 0, 0, 0.212);
    caret-color:#262626;
    outline: none;


    border-radius: 16vh;
    background: rgb(244, 156, 224);

}

#profileLeft div:nth-child(3), #profileLeft div:nth-child(4)  {

    font-weight: bolder;
}

#reportDiv button {
    width: 18vh;

    color: rgb(139, 218, 247);
    background: none;

    font-size: 2vh;
    font-weight: 800;
    text-transform: capitalize;

    outline: none;
    border: none;
	text-align: center;
    cursor: pointer;

}

#reportDiv button:hover {
    text-decoration: underline;
}

#profilePage > div, #profileForm {
    text-transform: capitalize;
}


td > span {
    color: rgb(139, 218, 247);
    background: none;

    font-size: 2vh;
    font-weight: 800;
    text-transform: capitalize;
} */