body {
    background-color: rgb(4, 4, 46);
    color: white;
}
#reportDiv {
    display: flex;
    flex-direction: column;
}

h2 {
    color: rgb(139, 218, 247);
    color: rgb(244, 156, 224);
    font-family: 'Poppins', sans-serif;
    font-size: 8vh;
    margin: 0;
    padding: 0 0 0 8vh;
    float: left;
    display: inherit;
}

#reportDiv  {  
    position: absolute;
    top: 30vh;
    left: 43vh;

    padding: 4vh 4vh 4vh 0;
    font-size: 3vh;
    width: 105vh;
    height: 54vh;
    border-radius: 1vh;

    background: #0d112e;
    box-shadow:  7px 7px 14px #000000, 
                -7px -7px 14px #455259;
    overflow-y: auto;
}

#reportForm {
    display: flex;
}

#reportForm > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Poppins', sans-serif;
    font-size: 5vh;
    font-weight: 600;

    width: 56%;
    height: 52vh;
}

#reportForm span {
    color: rgb(221, 42, 239);
    color: rgb(244, 156, 224);
}

/* middle line */
#reportForm > div:first-child:after {
    content: "";
    background-color: #e1e4e6;
    position: absolute;
    width: 0.3vh;
    height: 51vh;
    top: 6vh;
    left: 54.5%;
    display: block;
}

#reportForm > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 36%;
    height: 54vh;
    padding: 0 0 0 6vh;
}

textarea {
    width: 47vh;
    height: 16vh;
    margin-top: 3vh;
    padding: 2vh;
}

#submitBtn {
    height: 7vh;
    width: 18vh;

    color: white;
    background: rgb(139, 218, 247);

    font-size: 2vh;
    font-weight: 800;
    text-transform: uppercase;

    outline: none;
    border: none;
	text-align: center;
    cursor: pointer;
    border-radius: 43px;

    margin-top: 4vh;
    padding: 2vh;
}

/* button active */
#submitBtn:active {
    background-color: rgb(147, 220, 247);
	box-shadow: 
		inset rgba(70,70,70,0.4) 2px 2px 4px,
		inset rgb(208, 210, 211) -2px -2px 4px;
}