body {
    background-color: rgb(1, 1, 19);
    color: white;
    font-family: 'Century Gothic', sans-serif
}

#divDesc {
    display: inline;
    width: 120vh;
}

h2 {
    color: rgb(244, 156, 224);
    font-family: 'Poppins', sans-serif;
    font-size: 8vh;

    margin: 0;
    text-align: left;
    padding-left: 8vh;
}

p {
    font-weight: bolder;
    font-size: 2vh;
    display: inline-flex;
}

#divDesc > div > a {
    color: rgb(244, 156, 224);
    font-weight: 700;
}
