
h2 {
    color: rgb(139, 218, 247);
    color: rgb(244, 156, 224);
    font-family: 'Poppins', sans-serif;
    font-size: 8vh;
    margin: 0;
    padding: 0 0 0 8vh;
    text-align: left;
}

body {
    background-color: rgb(1, 1, 19);
    color: white;
}

/* the postcard */
body > div {
    display: flex;
    /* flex-direction: column;
    align-items: flex-end; */
    justify-content: space-evenly;

    width: 91vh;
    height: 60vh;
    position: fixed;
    top: 34%;
    left: 29%;
    /* padding-right: 4vh; */

    /* transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); */

    border-radius: 1vh;
    /* background: #f4f7f9; */
    background: #0d112e;
    box-shadow:  7px 7px 14px #000000, 
                -7px -7px 14px #455259;
}

/* the text */
body > div > div {
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    justify-content: space-evenly;
}

body > div > div > div {
    display: flex;
    justify-content: space-between;
}

body > div > div button {
    color: rgb(139, 218, 247);
    /* height: 7vh;
    width: 18vh;

    color: white;
    background: rgb(139, 218, 247);

    font-size: 2vh;
    font-weight: 800;
    border-radius: 43px;
    text-transform: uppercase; */
    background: none;

    outline: none;
    border: none;
	text-align: center;
    cursor: pointer;
}

body > div > div button:hover {
    /* background-color: rgb(147, 220, 247);
	box-shadow: 
		inset rgba(70,70,70,0.4) 2px 2px 4px,
        inset rgb(208, 210, 211) -2px -2px 4px; */
        color: rgb(82, 200, 243);
}

p > span {
    font-weight: bolder;
    padding-right: 2vh;
}

p {
    padding-right: 2vh;
}

.ui-widget-overlay {
    display: none;
}

.ui-widget-content {
    display: flex;
    border-radius: 4vh;
    padding: 1vh;
    height: 40vh;
    width: 40vh;
}

#changeUsernameDiv, #changePasswordDiv, #changeEmailDiv, #changeInstagramDiv {
    display: flex;
    flex-direction: column;
    padding: 2vh;
    justify-content: space-evenly;
    height: 41vh !important;
}

#usernameForm, #passwordForm, #emailForm, #instagramForm {
    height: inherit;
    display: flex;
    flex-direction: column;
    padding: 5vh;
    justify-content: space-between;
}

.ui-dialog{
    outline:none;
}

.buttons {
    display: flex;
    padding-top: 2vh;
    justify-content: space-evenly;
}

.submitBtn {
    /* height: 5vh; */
    /* width: 10vh; */
    color: white;
    background: rgb(139, 218, 247);
    /* font-size: 2vh; */
    font-weight: 800;
    text-transform: uppercase;
    outline: none;
    border: none;
    text-align: center;
    cursor: pointer;
    border-radius: 4vh;
    /* margin-left: 79vh; */
    padding: 2vh 3vh;
}

/* connect button active */
.submitBtn:active {
    background-color: rgb(147, 220, 247);
	box-shadow: 
		inset rgba(70,70,70,0.4) 2px 2px 4px,
		inset rgb(208, 210, 211) -2px -2px 4px;
}

.submitBtn:hover {
    color: white;
    background-color: rgb(147, 220, 247);
}

.ui-corner-all {
    display: none;

}

/* input fields */
#usernameForm > input, #passwordForm > input, #emailForm > input, #instagramForm > input {
    width: 34vh;
    height: 7vh;
    border: none;
    border-radius: 1rem;
    font-size: 2.5vh;
    padding-left: 1.4rem;
    box-shadow: inset .2rem .2rem .5rem rgb(218, 218, 218), 
                inset -.2rem -.2rem .5rem rgb(206, 203, 203);
    background: none;
    color: black;
}


#usernameForm input::placeholder, #passwordForm > input::placeholder, #emailForm > input::placeholder, #instagramForm > input::placeholder { 
    color: gray;
}

#usernameForm input:focus, #passwordForm > input:focus, #emailForm > input:focus, #instagramForm > input:focus { 
    outline: none; 
    /* box-shadow: .3rem .3rem .6rem rgb(165, 163, 163), 
                -.2rem -.2rem .5rem rgb(223, 219, 219); */
}