*:focus {
    outline-color: rgb(244, 156, 224);
}

body {
    margin: 0px;
    background-color: #eff3f5;
}

/* postcard */
body > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 4vh;

    font-family: 'Century Gothic', sans-serif;
    font-size: 2.5vh;
    
    width: 120vh;
    height: 60vh;

    height: 80vh;
    background-color: #f4f7f9;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    border-radius: 1vh;
    background: #f4f7f9;
    box-shadow:  7px 7px 14px #b9bcbe, 
                -7px -7px 14px #f2f4f5;

    overflow-y:auto;
}

/* "Sign Up" */
body > form > h1:first-child {
    /* position: absolute;
    top: 10vh; */
    position: absolute;
    top: 2vh;

    font-size: 7vh;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(43, 41, 41);

}

.tab h2 {
    color: rgb(244, 156, 224);
}

#nextBtn, #prevBtn {
    height: 7vh;
    width: 18vh;
    
    color: white;
    background: rgb(139, 218, 247);

    font-size: 2vh;
    font-weight: 800;
    text-transform: uppercase;

    outline: none;
    border: none;
	text-align: center;
    cursor: pointer;
    border-radius: 43px;
}

/* login button active */
#nextBtn:active, #prevBtn:active {
    background-color: rgb(147, 220, 247);
	box-shadow: 
		inset rgba(70,70,70,0.4) 2px 2px 4px,
		inset rgb(208, 210, 211) -2px -2px 4px;
}

.signup-info {
    display: flex;
    justify-content: space-between;
    width: 101vh;
    height: 51vh;
    padding-top: 9vh;
}

.signup-info > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* padding: 10vh; */
}

/* middle line */
.signup-info > div:first-child:after {
    display: block;
    content: "";
    background-color: #e1e4e6;
    position: absolute;
    width: 0.3vh;
    height: 50vh;
    top: 22vh;
    left: 50%;
}

.required, #select_state, #select_lang {
    width: 34vh;
    height: 7vh;
    border: 0.1vh solid rgba(255, 255, 255, 0);
    border-radius: 1rem;
    font-size: 2.5vh;
    padding-left: 1.4rem;
    box-shadow: inset .2rem .2rem .5rem #c6ced3, 
                inset -.2rem -.2rem .5rem white;
    background: none;
    color: rgb(80, 79, 79);
}

#select_state, #select_lang, #select_year, #select_country {
    width: 38vh;
}

/* .signup-info input:focus {  */
.required:focus { 
    outline: none; 
    box-shadow: .3rem .3rem .6rem darkgrey, 
                -.2rem -.2rem .5rem white;
}

#move-buttons {
    position: absolute;
    right: 4vh;
    bottom: 5vh;
}

#pwd-notMatched {
    color: red;
    position: absolute;
    width: 42vh;
    height: 3.5vh;
    top: 67.5vh;
    right: 17vh;
    /* z-index: 1; */
    border-radius: 2vh;
    /* background: rgba(236, 220, 226, 0.74); */
    padding: 1vh;
    text-align: center;
    font-size: 2vh;
}

.further-signup-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 66vh; */
    height: 61vh;
    padding-top: 22vh;
} 

#select_state:focus, #select_lang:focus {
    border-color: rgb(244, 156, 224);
}

.signup-id-info {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 16vh;
    left: 5vh;
    padding: 0 0vh 10vh 0;
}

.signup-id-info div label h3 span {
    color: rgb(244, 156, 224);
}

.consent-checkbox {
    border-radius: none;
    width: 4vh;
    height: 3vh;
    box-shadow: none;
}

.consent-checkbox:focus {
    box-shadow: none;
}

#interests_div > input {
    width: 38vh;
    height: 4vh;
    font-family: 'Century Gothic', sans-serif;
    padding-left: 1vh;
}

.signup-id-info div {
    width: 56vh;
    padding: 0 1vh 0vh 0;
}

.signup-id-info div div {
    display: flex;
    flex-direction: column;
    flex: 2;
    width: 62vh;
}

#notRead {
    position: absolute;
    bottom: 26px;
}

