*:focus {
    outline-color: rgb(244, 156, 224);
}

body {
    margin: 0px;
    background-color: rgb(4, 4, 46);
    color: white;
}

/* postcard */
body > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 4vh;

    font-family: 'Century Gothic', sans-serif;
    font-size: 2.5vh;
    
    width: 130vh;
    /* height: 60vh; */
    height: 80vh;

    /* background-color: #fefefe; */

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    border-radius: 1vh;
    background: #0d112e;
    box-shadow:  7px 7px 14px #000000, 
                -7px -7px 14px #455259;

    overflow-y:auto;
}

.tab {
    width: 115vh;
    padding: 5vh 5vh;
    /* height: 80vh; */
}

/* "Sign Up" */
body > form > h1:first-child {
    /* position: absolute;
    top: 10vh; */
    position: absolute;
    top: 2vh;

    font-size: 7vh;
    text-transform: uppercase;
    font-weight: bold;

}

.tab h2 {
    color: rgb(244, 156, 224);
}

#nextBtn, #prevBtn {
    height: 7vh;
    width: 18vh;
    
    color: white;
    background: rgb(139, 218, 247);

    font-size: 2vh;
    font-weight: 800;
    text-transform: uppercase;

    outline: none;
    border: none;
	text-align: center;
    cursor: pointer;
    border-radius: 43px;
}

#nextBtn {
    background-color: rgb(105, 204, 240);
}

/* login button active */
#nextBtn:active, #prevBtn:active {
    background-color: rgb(147, 220, 247);
	box-shadow: 
		inset rgba(70,70,70,0.4) 2px 2px 4px,
		inset rgb(208, 210, 211) -2px -2px 4px;
}

.signup-info, .further-signup-info {
    display: flex;
    justify-content: space-between;
    width: 101vh;
    height: 51vh;
    padding-top: 9vh;
}

.first-tab {
    padding-top: 85vh;
}

.further-signup-info {
    margin-top: -4vh;
}

.signup-info > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding: 10vh; */
}

.signup-info > div > label, .further-signup-info div label, .signup-id-info label, #interests, #div_interests label {
    font-weight: bolder;
    color: rgb(244, 156, 224);
    padding-right: 1vh;
}

.further-signup-info > div {
    display: flex;
    flex-direction: column;
}

.further-signup-info div label{
    margin: 4vh 0 2vh 0;
}

#signup {
    padding-top: 75vh;
}

/* middle line */
.signup-info > div:first-child:after, .further-signup-info > div:first-child:after {
    display: block;
    content: "";
    background-color: #e1e4e6;
    position: absolute;
    width: 0.3vh;
    height: 50vh;
    top: 22vh;
    left: 50%;
}

.required, #select_state, .select_list, datalist {
    width: 34vh;
    height: 7vh;
    border: 0.1vh solid rgba(255, 255, 255, 0);
    border-radius: 1rem;
    font-size: 2.5vh;
    padding-left: 1.4rem;
    box-shadow: inset .2rem .2rem .5rem black, 
                inset -.2rem -.2rem .5rem gray;
    background: none;
    color: white;
}

#select_state, #language_datalist, #select_year, #select_country {
    width: 38vh;
}

/* .signup-info input:focus {  */
.required:focus, .signup-id-info input:focus, .looking-for input:focus { 
    outline: none; 
    box-shadow: .3rem .3rem .6rem darkgrey, 
                -.2rem -.2rem .5rem white;
}

#move-buttons {
    float:right;
    right: 4vh;
    bottom: 5vh;
}

#pwd-notMatched {
    color: red;
    position: absolute;
    width: 42vh;
    height: 3.5vh;
    top: 67.5vh;
    right: 17vh;
    /* z-index: 1; */
    border-radius: 2vh;
    /* background: rgba(236, 220, 226, 0.74); */
    padding: 1vh;
    text-align: center;
    font-size: 2vh;
}

/* .further-signup-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 61vh;
    padding-top: 22vh;
}  */

#select_state:focus, #language_datalist:focus {
    border-color: rgb(244, 156, 224);
}

.signup-id-info {
    display: flex;
    flex-direction: column;
    padding-top: 16vh;
    /* padding: 0 0vh 10vh 0; */
    height: 31vh;
    justify-content: space-evenly;
}

#entry_gender_div {
    display: flex;
}

#gender_list {
    display: flex;
}


.culture-page {
    padding-top: 25vh;
}

.signup-row {
    display: flex;
}

label h3 {
    color: rgb(244, 156, 224);
}

.signup-id-info div label h3 span, .signup-id-info div label h3 span, .culture-page label h3 span {
    color: white;
}

.consent-checkbox {
    border-radius: none;
    width: 3vh;
    height: 3vh;
    box-shadow: none;
    padding: 0;
    margin: 0 2vh 0 0;
}

.consent-checkbox:focus {
    box-shadow: none;
}

#interests_div > input {
    width: 38vh;
    height: 4vh;
    font-family: 'Century Gothic', sans-serif;
    padding-left: 1vh; 
}

.signup-id-info input, #interests {
    width: 34vh;
    height: 7vh;
    border: 0.1vh solid rgba(255, 255, 255, 0);
    border-radius: 1rem;
    font-size: 2.5vh;
    padding-left: 1.4rem;
    box-shadow: inset 0.2rem 0.2rem 0.5rem black, inset -0.2rem -0.2rem 0.5rem grey;
    background: none;
    color: white;
    margin: 2vh 0 3vh 0;
}

/* .signup-id-info div {
    width: 56vh;
    padding: 0 1vh 0vh 0;
} */

/* .culture-page div div {
    display: flex;
    flex-direction: column;
    width: 62vh;
} */

#notRead {
    /* position: absolute;
    bottom: 26px; */
}


#resource_div {
        display: flex;
    /* justify-content: center; */
    align-items: center;
}

.close {
    color: red;
}

.blurb {
    color: rgb(147, 220, 247);
    /* padding-top: 12vh; */
    display: block;
    padding-bottom: 6vh;
}

.blurb a {
    color: rgb(19, 241, 255);
}

.looking-for {
    width: 124vh;
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
    height: 49vh;
}

#div_interests, #entry_interest_div, #interests_list, #entry_sexuality_div, #sexuality_list, .results, ul {
    display: flex;
    align-items: center;
}

li {
    padding: 1vh 0 1vh 2vh;
    margin: 0 2vh;
    border-color: royalblue;
    background-color: royalblue;
    border-radius: 1vh;
    list-style-type: none;
    align-items: center;
    display: flex;
}

li:hover {
    color: white;
}

.close:hover {
    cursor: pointer;
    color: red;
}

.close {
    padding: 0;
    outline: none;
    cursor: pointer;
    width: 8vh;
    text-align: center;
    /* background-color: whitesmoke; */
    border: none;
    color: rgb(243, 98, 98);
        font-size: 4vh;
    width: 5vh;
}