@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* padding-bottom: 4vh; */
    font-family: "Century Gothic", sans-serif !important;
    background-color: rgb(4, 4, 46);
    color: white;
}

#welcome-header {
    display: flex;
    align-items: center;
    float: left;
    font-size: 3.5vh;
    /* font-weight: bolder; */
}

#welcome-header img {
    width: 10vh;
}

#welcome-top {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 12vh;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    text-align: left;

    padding: 3vh 10vh 1vh 10vh;
}

#welcome-top span, #welcome-header span {
    /* text-transform: uppercase; */
    color: rgb(244, 156, 224);
    /* color: black; */
}

/* #welcome-top > img {
    width: 72vh;
} */

#welcome-top > div {
    width: 50%;
    
}

#welcome-bottom {
    display: flex;
    padding: 5vh 15vh 2vh 0vh;
}

#welcome-bottom div:first-child {
    padding-right: 41vh;
}

#login-buttons {

    display: flex;
    /* justify-content: flex-end;
    padding: 5vh 0 0 0; */
    z-index: 1;
    transition-duration: 0.5s;
}

.signup{
    height: 7vh;
    width: 18vh;
    margin-left: 15vh;

    color: rgb(241, 244, 245);
    color: white;

    font-size: 2vh;
    font-weight: 800;
    text-transform: uppercase;
    outline: none;
    border: none;
	text-align: center;
    cursor: pointer;
    border-radius: 43px;
}

.log {
  background: rgb(147, 220, 247);
}

.sign {
  background: rgb(244, 156, 224);
}

.log:hover {
    color: white;
    background-color: rgb(97,207,248);
}

.sign:hover {
    color: white;
    background-color: rgb(247, 136, 221);
}

.log:active{
    background-color: rgb(97,207,248);
	box-shadow: 
		inset rgba(70,70,70,0.4) 2px 2px 4px,
		inset rgb(208, 210, 211) -2px -2px 4px;
}

.sign:active{
    background-color: rgb(247, 136, 221);
	box-shadow: 
		inset rgba(70,70,70,0.4) 2px 2px 4px,
		inset rgb(208, 210, 211) -2px -2px 4px;
}

#welcome-description {
    font-size: 3vh;
}

/**
Globe Elements
**/
.globe__placeholder {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
      border-radius: 6px;
    /* overflow: visible; */
    /* position: relative; */
    /* float: left; */
    /* padding: 16vh 0vh 0vh 16vh; */
    margin: 0;
    /* margin-bottom: 16px; */
    /* height: 50vh;
    width: 50vh; */
    text-align: -webkit-center;
    /* padding-top: 14vh; */
}

.globe__container {
  overflow: visible;
  position: relative;  
  display: block;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

.globe__container,
.globe {
  width: 33vh;
    height: 33vh;  
}
.globe {
  overflow: visible;
  position: relative;  
  display: block;
  margin: 0;
  padding: 0;
  top: 0; left: 0;
}

.globe__worldmap,
.globe__worldmap__front,
.globe__worldmap__back,
.globe__sphere,
.globe__outer_shadow,
.globe__reflections__bottom,
.globe__inner_shadow,
.globe__reflections__top,
.globe__outer_shadow {
  position: absolute; display: block; margin: 0; right: auto; bottom: auto;  
}

.globe__sphere,
.globe__outer_shadow,
.globe__reflections__bottom,
.globe__inner_shadow,
.globe__reflections__top {
  left: 0; top: 0; width: 200px; height: 200px;
  background-position: 0 0; background-repeat: no-repeat;
}
.globe__outer_shadow {
  left: 0; top: 186px; width: 200px; height: 30px;
  background-position: 0 0; background-repeat: no-repeat;
}

/* Circle mask for animated SVG files */
.globe__worldmap {
  left: 0; top: 0; width: 200px; height: 200px; overflow: hidden;
  -webkit-border-radius: 50%;
   -khtml-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
-webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
/*
  overflow: visible;
*/
}

.globe__worldmap__front,
.globe__worldmap__back {
  left: 0; top: 0; width: 1000px; height: 200px; overflow: visible;
  background-image: url(http://www.cakecounter.com/globe/white-blue/globe_images/worldmap_2x.svg);
  background-repeat: no-repeat;
}


.backimg4{
  background-image: url(http://www.cakecounter.com/globe/blue-purple-gradient/globe_images/worldmap_2x.svg);
}

.spehere4{
  
}


/**
Globe elements visibility options
**/
.globe__sphere { background-image: url(http://www.cakecounter.com/globe/white-blue/globe_images/sphere.svg); display: none;}

.globe__outer_shadow { background-image: url(http://www.cakecounter.com/globe/white-blue/globe_images/outer_shadow.svg);}
.globe__reflections__top { background-image: url(http://www.cakecounter.com/globe/white-blue/globe_images/reflections.svg); display: none;}
.globe__reflections__bottom { background-image: url(http://www.cakecounter.com/globe/white-blue/globe_images/reflections.svg); display: none;}
.globe__inner_shadow { background-image: url(http://www.cakecounter.com/globe/white-blue/globe_images/inner_shadow.svg);}
.globe__worldmap__front { background-position: 0px 0px;
animation: textureSpinreverse 8s linear infinite;
}
.globe__worldmap__back { background-position: 0px -220px;
    animation: textureSpin 8s linear infinite;
}


div.opacity {
  padding-bottom: 0;
}
div.opacity div {
  padding-left: 15px;
  margin-right: 10px;
  position: relative;
  font-size: 12px;
}


div.reflections {
  font-size: 12px;
  padding-bottom: 20px;
}
.reflections strong {
  font-weight: normal;
  padding-left: 15px;
  padding-right: 5px;
}
.reflections a {
  padding-left:  1px;
  padding-right: 1px;
}


.reflections .t {
  padding: 2px 5px;
  display: inline-block;
}


#Stage {
    -webkit-transition: background-color 0.2s ease 0.0s;
       -moz-transition: background-color 0.2s ease 0.0s;
        -ms-transition: background-color 0.2s ease 0.0s;
         -o-transition: background-color 0.2s ease 0.0s;
            transition: background-color 0.2s ease 0.0s;
}

.ani_bgc {
    -webkit-transition: background-color 0.25s ease 0.0s;
       -moz-transition: background-color 0.25s ease 0.0s;
        -ms-transition: background-color 0.25s ease 0.0s;
         -o-transition: background-color 0.25s ease 0.0s;
            transition: background-color 0.25s ease 0.0s;
}
.ani_opacity {
-webkit-transition: 0.25s opacity;
   -moz-transition: 0.25s opacity;
     -o-transition: 0.25s opacity;
        transition: 0.25s opacity;
}


/*
@media screen and (max-width: 1920px){}
@media screen and (max-width: 1680px){}
*/
@media screen and (max-width: 1400px){
  #Stage, .title {
/*  left: 250px !important;*/
  }
}
/*
@media screen and (max-width: 1200px){}
@media screen and (max-width: 1024px){}
*/


@keyframes textureSpin {
  from {
    transform: translateX(0);
  }
  to {
        transform: translateX(-47.5%);
  }
}


@keyframes textureSpinreverse {
  from {
        transform: translateX(-47.5%);
  }
  to {
    transform: translateX(0);
  }
}




@media screen and (max-width: 768px)
{
  .container{padding-left: 140px;}
}

@media screen and (max-width: 425px)
{
  .container{padding-left: 70px;}
}

@media screen and (max-width: 320px)
{
  .container{padding-left: 0px;}
}





